@{
    ViewData["Title"] = "Dashboard";
}
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="row gy-5 g-xl-10">
            <div class="col-md-12 col-xl-12 mb-md-5 mb-xxl-10">
                <div class="card overflow-hidden mb-5 mb-lg-10">
                    <div class="card-header card-header-stretch">
                        <h2 class="card-title">Node Spyder API</h2>
                    </div>
                    <div class="card-body p-9">
                        <h4>What does the API provide?</h4>
                        <p>The API provides access to all of the data collected by the Node Spyder for Ergo and used in the reports
                            on this web site. You can download data for your own analysis or to create your own reports.
                        </p>
                        <p>The data is freely available and can be used for any purpose, but we ask that you cite <strong>https://ergo.nodespyder.io</strong>  
                            as the source.</p>
                        <p>The data available through the API only changes once per day, so there is no need to frequently query any
                            of the API endpoints. If you use this data in online reports, please try to cache it on your own web site. This
                            will help us avoid the need to implement any rate limits in the future.
                        </p>
                        <h4>Base URL</h4>
                        <p>
                            The base url for the API is https://ergo.nodespyder.io/api/nodes.  All endpoints use GET requests.
                        </p>
                        <h4>Response format</h4>
                        <p>The content type of the response for all endpoints is application/json</p>
                        <p>The json document follows the <a href="https://jsonapi.org/">json api specification</a>. The jsonapi, meta, and links
                            sections provide information about the document. The document payload will be found in the data section.</p>
<pre>
<code>
{
    "jsonapi": {
        "version": "1.0"
    },
    "meta": {
        "copyright": "Copyright 2022, CloudScope LLC",
        "authors": [
            "NodeSpyder Authors"
        ],
        "totalRecords": 4,
        "pages": 1
    },
    "links": {
        "self": "https://ergo.nodespyder.io/api/nodes/geo/continents",
        "first": "https://ergo.nodespyder.io/api/nodes/geo/continents",
        "last": null,
        "prev": null,
        "next": null
    },
    "data": [
        {
            "code": "EU",
            "name": "Europe",
            "value": 43
        },
        ... omitted
    ]
}
</code>

</pre>
                        <h4>Postman</h4>
                        <p>
                            You can download a <a href="https://www.postman.com">Postman</a> collection <a href="/NodeSpyder.postman_collection.json">here</a>.
                        </p>
                        <h4>API endpoints</h4>
                        <ul>
                            <li><a href="#nodes">Nodes</a></li>
                            <li><a href="#versions">Versions</a></li>
                            <li><a href="#state-types">State types</a></li>
                            <li><a href="#verifying">Verifying</a></li>
                            <li><a href="#blocks-kept">Blocks kept</a></li>
                            <li><a href="#continents">Continents</a></li>
                            <li><a href="#countries">Countries</a></li>
                            <li><a href="#regions">Regions</a></li>
                            <li><a href="#isps">ISPs</a></li>
                            <li><a href="#daily-count">Daily node count</a></li>
                            <li><a href="#weekly-count">Weekly node count</a></li>
                            <li><a href="#monthly-count">Monthly node count</a></li>
                        </ul>
                        <h5 id="nodes">Nodes</h5>
                        <p>The Nodes endpoint provides the complete list of all Ergo nodes. Currently no paging is required, but paging may be added
                            if the number of Ergo nodes grows to over 100.
                        </p>
                        <h6>Fields</h6>
                        <ul>
                            <li><strong>Address:</strong> The IP address of the node</li>
                            <li><strong>Port:</strong> The port that the node is operating on. The default port on mainnet is 9030.</li>
                            <li><strong>AgentName:</strong> The agent name reported by the node. The default is 'ergoref'.</li>
                            <li><strong>PeerName:</strong> The peer name reported by the node.</li>
                            <li><strong>Version:</strong> The software version the node is operating.</li>
                            <li><strong>BlocksToKeep:</strong> The number of blocks that the node is maintaining. A value of -1 means all blocks.</li>
                            <li><strong>NiPoPoWBootstrapped:</strong> Whether the node is <a href="https://ergoplatform.org/en/blog/2021-07-19-mining-in-logarithmic-space-nipopow-power-and-ergo/">NiPoPoW bootstrapped</a></li>
                            <li><strong>StateType:</strong> Either Utxo or digest</li>
                            <li><strong>VerifyingTransactions:</strong> Whether the node is verifying transactions</li>
                            <li><strong>PeerCount:</strong> The number of peers that the node is connected to</li>
                            <li><strong>DateAdded:</strong> The date that the node was first found by Node Spyder</li>
                            <li><strong>DateUpdated:</strong> The date the node was last contacted</li>
                            <li><strong>ContinentCode:</strong> The continent code where the node is operating</li>
                            <li><strong>ContinentName:</strong> The continent name where the node is operating</li>
                        </ul>
                        <h5 id="versions">Versions</h5>
                        <h5 id="state-types">State types</h5>
                        <h5 id="verifying">Verifying</h5>
                        <h5 id="blocks-kept">Blocks kept</h5>
                        <h5 id="continents">Continents</h5>
                        <h5 id="countries">Countries</h5>
                        <h5 id="regions">Regions</h5>
                        <h5 id="isps">ISPs</h5>
                        <h5 id="daily-count">Daily node count</h5>
                        <h5 id="weekly-count">Weekly node count</h5>
                        <h5 id="monthly-count">Monthly node count</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>