@{
    ViewData["Title"] = "Dashboard";
}
		
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="row gy-5 g-xl-10">
            <div class="col-md-6 col-xl-6 mb-md-5 mb-xxl-10">
                <div class="row g-5 g-lg-10">
                    <div class="col-12">
                        <div class="card overflow-hidden mb-5 mb-lg-10">
                            <div class="card-header card-header-stretch">
                                <h3 class="card-title">Nodes over time</h3>
                                <div class="card-toolbar">
                                    <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab"
                                               href="#nodes-daily">Daily</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#nodes-weekly">Weekly</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#nodes-monthly">Monthly</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-between flex-column px-0 pb-0">
                                <div class="tab-content" id="node-time-stats">
                                    <div class="tab-pane fade show active" id="nodes-daily" role="tabpanel">
                                        <div class="mb-4 px-9">
                                            <div class="d-flex align-items-center mb-2">
                                                <span id="daily-node-count"
                                                      class="fs-2hx fw-bolder text-gray-800 me-2 lh-1"></span>
                                            </div>
                                            <span class="fs-6 fw-bold text-gray-400">Daily Active Nodes</span>
                                        </div>
                                        <div id="daily-node-display" class="min-h-auto" style="height: 150px"></div>
                                    </div>
                                    <div class="tab-pane fade" id="nodes-weekly" role="tabpanel">
                                        <div class="mb-4 px-9">
                                            <div class="d-flex align-items-center mb-2">
                                                <span id="weekly-node-count"
                                                      class="fs-2hx fw-bolder text-gray-800 me-2 lh-1"></span>
                                            </div>
                                            <span class="fs-6 fw-bold text-gray-400">Weekly Active Nodes
                                                (average)</span>
                                        </div>
                                        <div id="weekly-node-display" class="min-h-auto" style="height: 150px"></div>
                                    </div>
                                    <div class="tab-pane fade" id="nodes-monthly" role="tabpanel">
                                        <div class="mb-4 px-9">
                                            <div class="d-flex align-items-center mb-2">
                                                <span id="monthly-node-count"
                                                      class="fs-2hx fw-bolder text-gray-800 me-2 lh-1"></span>
                                            </div>
                                            <span class="fs-6 fw-bold text-gray-400">Monthly Active Nodes
                                                (average)</span>
                                        </div>
                                        <div id="monthly-node-display" class="min-h-auto" style="height: 150px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5 g-lg-10">
                    <div class="col-12">
                        <div class="card card-flush h-md-100" id="version-card">
                            <div class="card-header pt-7">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label fw-bolder text-dark">Versions</span>
                                    <span id="version-display" class="text-gray-400 pt-2 fw-bold fs-6">Top 5 versions</span>
                                </h3>
                                <div class="card-toolbar" data-kt-buttons="true">
                                    <button class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1 version-chooser">5</button>
                                    <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1 version-chooser">10</button>
                                    <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 version-chooser">20</button>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-center">
                                <div id="versions" class="min-h-auto" style="height: 150px"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-6 mb-5 mb-lg-10">
                <div class="card card-flush h-md-100">
                    <div class="card-header pt-7">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Nodes by Country</span>
                            <span id="country-display" class="text-gray-400 pt-2 fw-bold fs-6">Top 5 countries</span>
                        </h3>
                        <div class="card-toolbar" data-kt-buttons="true">
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1 country-chooser">5</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1 country-chooser">10</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 country-chooser">20</button>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-center">
                        <div id="node-map" class="w-100 h-350px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5 g-xl-10">
            <div class="col-md-4 col-xl-4 mb-md-5 mb-xxl-10">
                <div class="card card-flush mb-lg-10">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Verification</span>
                            <span class="text-gray-400 pt-2 fw-bold fs-6">Node configuration</span>
                        </h3>
                    </div>
                    <div class="card-body d-flex align-items-end pt-10">
                        <div class="d-flex align-items-center flex-column mt-3 w-100">
                            <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                <span class="fw-boldest fs-6 text-dark">Verifying</span>
                                <span id="verification-display" class="fw-bolder fs-6 text-gray-400">100%</span>
                            </div>
                            <div class="h-8px mx-3 w-100 bg-light-success rounded">
                                <div id="verification-ruler" class="bg-success rounded h-8px" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 mb-md-5 mb-xxl-10">
                <div class="card card-flush mb-lg-10">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">State type</span>
                            <span class="text-gray-400 pt-2 fw-bold fs-6">Node configuration</span>
                        </h3>
                    </div>
                    <div class="card-body d-flex align-items-end pt-10">
                        <div class="d-flex align-items-center flex-column mt-3 w-100">
                            <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                <span class="fw-boldest fs-6 text-dark">UTXO</span>
                                <span id="state-display" class="fw-bolder fs-6 text-gray-400">100%</span>
                            </div>
                            <div class="h-8px mx-3 w-100 bg-light-success rounded">
                                <div id="state-ruler" class="bg-success rounded h-8px" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 mb-md-5 mb-xxl-10">
                <div class="card card-flush mb-lg-10">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Blocks to keep</span>
                            <span class="text-gray-400 pt-2 fw-bold fs-6">Node configuration</span>
                        </h3>
                    </div>
                    <div class="card-body d-flex align-items-end pt-10">
                        <div class="d-flex align-items-center flex-column mt-3 w-100">
                            <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                <span class="fw-boldest fs-6 text-dark">All</span>
                                <span id="blocks-display" class="fw-bolder fs-6 text-gray-400">100%</span>
                            </div>
                            <div class="h-8px mx-3 w-100 bg-light-success rounded">
                                <div id="blocks-ruler" class="bg-success rounded h-8px" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <environment names="Development">
        <script type="text/javascript" src="~/js/pages/home.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/pages/home.min.js"></script>
    </environment>
}