@{
    ViewData["Title"] = "Home Page";
}

		
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="row gy-5 g-xl-10">
            <div class="col-xxl-6 mb-lg-10 mb-xl-5 mb-xxl-10">
                <div class="row g-5 g-lg-10">
                    <div class="col-md-6 col-xl-6 mb-md-5 mb-xxl-10">
                        <div class="card overflow-hidden h-md-50 mb-5 mb-lg-10">
                            <div class="card-body d-flex justify-content-between flex-column px-0 pb-0">
                                <div class="mb-4 px-9">
                                    <div class="d-flex align-items-center mb-2">
                                        <span id="node-count" class="fs-2hx fw-bolder text-gray-800 me-2 lh-1">265</span>
                                    </div>
                                    <span class="fs-6 fw-bold text-gray-400">Active Nodes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

