@{
    ViewData["Title"] = "Geo Analytics";
}
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="row gy-5 g-xl-10">
            <div class="col-md-5 col-xl-5 mb-md-5 mb-xxl-10">
                <div class="card overflow-hidden mb-5 mb-lg-10">
                    <div class="card-header card-header-stretch">
                        <h3 class="card-title">Nodes by Continent</h3>
                        <div class="card-toolbar"></div>
                    </div>
                    <div class="card-body pt-5 ps-6">
                        <div id="continents-widget" class="min-h-auto"></div>
                    </div>
                </div>
                <div class="card card-flush h-md-100">
                    <div class="card-header pt-7">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Nodes by Country</span>
                            <span id="country-display" class="text-gray-400 pt-2 fw-bold fs-6">Top 10 countries</span>
                        </h3>
                        <div class="card-toolbar" data-kt-buttons="true">
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1 country-chooser">10</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1 country-chooser">20</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 country-chooser">All</button>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 my-0">
                                <thead>
                                <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                    <th class="p-0 w-50px pb-1">Country</th>
                                    <th class="ps-0 min-w-140px"></th>
                                    <th class="text-end min-w-140px p-0 pb-1">Nodes</th>
                                </tr>
                                </thead>
                                <tbody id="countries-widget">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 mb-md-5 mb-xxl-10">
                <div class="card card-flush h-md-100">
                    <div class="card-header pt-7">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Internet Service Providers</span>
                            <span id="isp-display" class="text-gray-400 pt-2 fw-bold fs-6">Top 10 ISPs</span>
                        </h3>
                        <div class="card-toolbar" data-kt-buttons="true">
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1 isp-chooser">10</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1 isp-chooser">20</button>
                            <button class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 isp-chooser">All</button>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 my-0">
                                <thead>
                                <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                    <th class="ps-0 min-w-140px">ISP</th>
                                    <th class="text-end min-w-140px p-0 pb-1">Nodes</th>
                                </tr>
                                </thead>
                                <tbody id="isp-widget">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts {

<environment names="Development">
    <script type="text/javascript" src="~/js/pages/geo.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript" src="~/js/pages/geo.min.js" asp-append-version="true"></script>
</environment>
}